name: DotMH Linting Publish Actions
run-name: "${{ github.actor }} - ${{ github.workflow }} - ${{ github.run_number }}"
on:
  push:
    branches:
      - 'main'
      
permissions:
  id-token: write  # Required for OIDC
  contents: read

jobs:
  TestAndLint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: "10"
      - name: Node
        uses: actions/setup-node@v4
        with:
          node-version: "22.15.1"
          cache: "pnpm"
          registry-url: 'https://registry.npmjs.org'
      - run: pnpm install
      - name: Pre Publish hook call
        run: pnpm workspace:prePublish
      - name: publish
        run: pnpm workspace:publish
